@model Recipe;

<form class="p-a-1" asp-action="AddRecipe" asp-controller="Home" method="Post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Name" class="formAlign">Name: </label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Time" class="formAlign">Time Consuming: </label>
        <input asp-for="Time" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="formAlign">Description: </label>
        <input asp-for="Description" />
    </div>
    <div class="form-group">
        <label asp-for="Ingredients" class="formAlign">Ingredient: </label>
        <input asp-for="Ingredients" />
    </div>
    <div class="formButton">
        <button class="btn btn-primary type="submit">Save</button> | 
        <button class="btn btn-dark" asp-action="Index">Cancel</button>
    </div>
</form>