@model Review

<form class="p-a-1" asp-action="AddReview" asp-controller="Home" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <div><span asp-validation-for="RecipeName"></span></div>
        <label asp-for="RecipeName" class="formAlign">Recipe Name: </label>
        <input asp-for="RecipeName" />
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="formAlign">User ID: </label>
        <input asp-for="UserId" />
    </div>
    <div class="form-group">
        <label asp-for="Nickname" class="formAlign">Nickname: </label>
        <input asp-for="Nickname" />
    </div>
    <div class="form-group">
        <label asp-for="Content" class="formAlign">Review: </label>
        <input asp-for="Content" />
    </div>
    <div class="formButton">
        <button class="btn btn-primary type="submit">Write Review</button>  | 
        <button class="btn btn-dark" asp-action="RecipeList">Cancel</button>
    </div>
</form>