.logo {
    width: 100px;
    float: right;
    margin-top: 25px;
}

.header{
    padding-top: 15px;
    height: 102px;
    text-align: center;
    color: white;
    background-color: skyblue;
    border-radius: 3px 4px;
}

.copy{
    text-align:right;
}

body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.indexList {
    margin: auto;
    width: 20%;
}

.formAlign {
    text-align: right;
    margin: auto;
    width: 50%;
}

.formButton{
    margin-left : 42%;
}
.buttons {
    background-color: white;
    color: black;
    border: 2px solid skyblue;
}