@model Review
@{

    Layout = "_Layout";
    ViewBag.Title = "Add Review";
}


<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Write Recipe Reviews!</h4></div>
    <div class="panel-body">
        @Html.Partial("AddingReviewForm")
    </div>
</div>