@model Assignment1.Models.Recipe
@{
    ViewData["Title"] = "AddRecipe";
    Layout = "_Layout";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Add Recipe!</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="AddRecipe" asp-controller="Home" method="Post">
            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Name">Name: </label>
                <input asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Time">Time Consuming: </label>
                <input asp-for="Time" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description: </label>
                <input asp-for="Description" />
            </div>
            <div class="form-group">
                <label asp-for="Ingredients">Ingredient: </label>
                <input asp-for="Ingredients" />
                </div>
                <button type="submit">Add recipe</button>
        </form>
    </div>
</div>
