@model Assignment1.Models.Recipe
@{
    ViewData["Title"] = "AddRecipe";
    Layout = "_Layout";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Add Recipe!</h4></div>
    <div class="panel-body">
        @Html.Partial("AddingRecipeForm")
    </div>
</div>
