@model  Assignment1.Models.Recipe
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

    <h2>Home</h2>
    <div class="text-center">
        <h3>Welcome! See the list of recipe or add your own recipe!</h3>

    </div>


