@model  Assignment1.Models.Recipe
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

    
<div class="text-center">
    <h2>Home</h2>
    <h3>Welcome! See the list of recipe or add your own recipe!</h3>

</div>


