@model IEnumerable<Recipe>
@{
    Layout = "_Layout";
    ViewBag.Title = "Recipe List";
}

<div class="panel-body">
    <div class="text-center">
        <h4>Recipe List</h4>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Recipe r in Model)
                {
                    <tr>
                        <td><a asp-action="ViewRecipe" asp-route-name="@r.Name">@r.Name</a></td>
                        <td>@r.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>