@model IEnumerable<Assignment1.Models.Recipe>
@{
    Layout = "_Layout";
    ViewBag.Title = "Recipe List";
}

    <h2>Recipe List</h2>
    <div class="text-center">
        <h3>Recipe List</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time Consuming</th>
                    <th>Description</th>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Assignment1.Models.Recipe r in Model)
                {
                    <tr>
                        <td><a asp-action="ViewRecipe" asp-route-name="@r.Name">@r.Name</a></td>
                        <td>@r.Description</td>
                        <td>@r.Ingredients</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
